<table>
    <thead>
        <tr>
            <th scope="col">Correo</th>
            <th scope="col">Contraseña</th>

        </tr>
    </thead>
    <tbody *ngFor="let Regis of Registros">
        <tr>
            <th scope="row">{{Regis.Correo}}</th>
            <th>{{Regis.contrasena}}</th>
        </tr>
    </tbody>
</table>