
/*--encabezado--*/
.listado{

    height: 900px;
}
.encabezado{
    margin-top: 1%;
  
    float:left;
    width:30%;
    height: 20px;
    margin-left: 20%;
    background-color: #b62025;
    color: #fff;

}
.FAlTAS{
    margin-left: 6%;
    margin-top: 1%;
    width:3.5%;
    height: 20px;
    border: solid 1px;
    float:left;
    background-color: #b62025;
    color: #fff;

}
/*-- fin del encabezado--*/
/*-----------------------------------------------------------*/
/*--Lista de estudiantes y botones--*/
.botones{
    margin-top: 1%;
    border: solid 1px;
    margin-left: 7%;
    width:2%;
    float:left;
    padding-top: 0.5%;
    padding-bottom: 0.7%;

}
.general{
    margin-left: 20%;
    margin-top: 1%;
    float: left;
    width:30%;
    border: solid 1px;
}
/*-- fin de lista de estudiantes y botones--*/
/*-----------------------------------------------------------*/
