.menu{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    margin-left: 22%;
    margin-right: 30%;
}
.h2{
    font-weight: 480;
}
.cambio_f{
    justify-content: center;
    margin:auto;
    width: 70%;
    padding: 20px 20px;
    background: #b8d06b;
    border-radius: 20px;
    border: #2a602b solid 4px;
}

.boton6{
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
    letter-spacing: 4px;
    background: #2a602b;
}
.boton6:hover{
    background: #5caa3a;
    box-shadow: 0 0 10px #5caa3a, 0 0 40px #5caa3a,
    0 0 80px  #5caa3a;
}