.bodyr{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://revistademanabi.files.wordpress.com/2022/02/uleam-acceso-principal.jpeg?w=1024);
}
.menu{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    margin-left: 22%;
    margin-right: 30%;
}
.h2{
    font-weight: 480;
}
.pregunta{
    font-size: 20px;
}
.Registro{
    margin:auto;
    width: 100%;
    padding: 10px 10px;
    justify-content: center;
    border: solid 2px #821b22;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.481);
}
.registro_f{
    justify-content: center;
    margin:auto;
    width: 70%;
    padding: 20px 20px;
    background: #b8d06b9f;
    border-radius: 20px;
    border: #2a602b solid 4px;
}
.boton5{
    display: inline-block;
    padding: 3px 7px;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
    letter-spacing: 4px;
    background: #763434;
}
.boton5:hover{
    background: #aa3a3a;
    box-shadow: 0 0 10px #aa3a3a, 0 0 40px #aa3a3a,
    0 0 80px  #aa3a3a;
}
.boton4{
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
    letter-spacing: 4px;
    background: #2a602b;
}
.boton4:hover{
    background: #5caa3a;
    box-shadow: 0 0 10px #5caa3a, 0 0 40px #5caa3a,
    0 0 80px  #5caa3a;
}