.logop{
    background-color:  #b62025;
    margin-top: 5px;
    height: 40px; 

}
.logotipo{
    background-color: #94a756;
    padding: 1px 10px;
    height: 60px;   

}

.nombre{
    float: left;
    color: #fff;
    user-select: none;
    margin-top: 7px;
    margin-left: 65%;
    font-family:'Gill Sans';
}
/*------------------Menu despegable--------------------*/
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


ul, ol{
    list-style: none;
}

.nav li a{
    background-color:  #b62025;
    text-decoration: none ;
    font-size: 15px;
    display: block;

}

.nav li a:hover{
    background-color:  #b62025;
}

.nav > li {
    float: right;
    background-color:  #b62025;
    margin-right: 15%;
    
}


.nav li a:hover{
    background-color: rgba(176, 112, 112, 0.801);
}

nav li ul{
    display:none;
    position: absolute;

}
.nav li:hover> ul{
    display: block;
}
nav a{
    font-weight: 600;
    padding: 10px;
}
/*------------------ Fin menu despegable--------------------*/
/*fin de logos y mas*/
/*anuncios*/
.anuncio{
    margin-top: 5px;
    border: solid 1px;
    float: right;
    height: 560px; 
    width:30%;
}
.anuncio2{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    margin-top: 5px;
    margin-right: 2px;
    margin-left: 2px;
    background-color:  #b62025;
}
textarea{
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 50px;
    border: solid 1px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
/*fin de anuncios*/
.Usuario{
    margin-top: 5px;
    margin-left: 10px;
    border: solid 1px;
    height: 140px; 
    width:20%;
    display:block;

}
.correo{
    margin-left:5px;
}
.Ciudad{
    margin-left:5px;
}
.nombre_u{
    font-size: 20px;
    margin-left:5px;
}
.identificado{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    margin-top: 5px;
    margin-right: 2px;
    margin-left: 2px;
    background-color:  #b62025;
    
}
.tutorias{
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    border: solid 1px;
    height: 190px; 
    width:20%;
    display:block;
}
.Proximas{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    margin-top: 5px;
    margin-right: 2px;
    margin-left: 2px;
    background-color:  #b62025;

}
.Lunes{
    margin-left:5px;
}
.Martes{
    margin-left:5px;
}
.Miercoles{
    margin-left:5px;
}
/*Calendario*/
*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --color-bg-calendar: #94a756;
    --color-cell: #0c0303;
    --color-cell-disabled: #3a4246;
}
.root {
    min-height: 70vh;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.calendar {
    border: solid 1px;
    padding: 20px 10px;
    background-color: var(--color-bg-calendar);
    border-radius: 3px;
    width: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.calendar__header {
    color: rgb(14, 13, 13);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.calendar .control {
    color: rgb(19, 18, 18);
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
   
}

.grid__header, .grid__body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.grid__header {
    color: rgb(10, 10, 10);
    margin-bottom: 20px;
}

.grid__body {
    grid-auto-rows: 40px;
    color: var(--color-cell);
}

.grid__cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid__cell--gd {
    cursor: pointer;
}

.grid__cell--selected {
    color: var(--color-bg-calendar);
    background-color: rgb(119, 106, 106);
    border-radius: 50%;
    border: 2px solid rgb(119, 106, 106);
    box-shadow: 0 0 0 2px var(--color-bg-calendar) inset;
}

.grid__cell--disabled {
    color: var(--color-cell-disabled);
    cursor: not-allowed;
}
/*fin del calendario*/
.autotex{
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 50px;
    border: solid 1px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: solid 2px;
    width: 80%;
    height: 50px;
    resize: none;
    font-size: 18px;
}
/*pies de pagina*/
.piespagina{
    width: 99%;
    border: 2px solid #b62025;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}
hrp{
    border: 1px solid #b62025;  
}
.logof{
    margin-top: 5px;
    margin-left: 5px;
}
.datosa{
    margin-top: 5px;
    margin-left: 5px;
}
/* Fin pies de pagina*/