.perfil{
    margin-top: 5px;
    width: 99%;
    border: 2px solid #b62025;
    margin-left: 5px;
    margin-right: 5px;
    height: 700px;
}
.datos{
    margin-top: 20px;
    border: 1px solid black;
    width:70%;
    position: absolute;
    left: 3%;
}
input{
    border-radius: 5px;
    margin-left: 0.5%;
}
.nombree{
    margin-left: 0.5%;
}
.foto{
    margin-top: 20px;
    width: 20%;
    margin-left: 6%;
    padding: 4.1% 0% 4.1% 1%;
    position: absolute;
    left: 70%;   
}
.fotoes{
    width: 95px;
    height: 110px;
    border-radius: 5px;
    border: 3px solid white;   
}
.datosE{
    border: 1px solid black;
    width:50%;
    position: absolute;
    top: 59%;
    left: 3%;
}
.actual{
    border: 1px solid black;
    width:42%;
    position: absolute;
    top: 59%;
    left: 55%;
}
.Personales{
    border: 1px solid black;
    width:94%;
    position: absolute;
    top: 90%;
    left: 3%;
}
.titulo{
    margin:auto;
    font-size: 35px;
    padding-left: 25%;
    user-select: none;
    text-decoration: none;
    color: black;
}

p{
    display: inline-block;
    margin-left: 1%;
}
